*{
  box-sizing: border-box;
  margin:0;
  
}
body{
  height:100%;
  background-color: rgb(17, 17, 17);
  
}



header{
  height:57px;
  background-color:rgb(17, 17, 17);
  display:flex;
}



.burger-logo{
  margin: auto 0px auto 20px;
  display:flex;
  align-items:center;
}
#link-logo{
  margin: auto 0px auto 15px;
  display:flex;
  align-items:center;
}
#link-burger{
  margin: auto auto;
  display:flex;
  align-items:center;
  position:relative;
}
.burger{
  width:30px;
}
.logo{
  width:100px;
  margin-left:0px;
}



.search-bar{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto auto;
}
.search-bar form{
  
  display:flex;
  align-items:center;
  justify-content:center;
}
.search-bar form input{
  display:flex;
  border-radius: 20px 0px 0px 20px;
  outline: 0px;
  margin:0px;
  height:40px;
  width:500px;
  background-color:rgb(17, 17, 17);
  border-style: none;
  border:1px solid rgb(60, 60, 60);
  color:whitesmoke;
  font-size: 18px;
  transform-origin: ;
}
.search-bar button{
  background-color:rgb(17, 17, 17);
  background-image:url('media/search-icon.png');
  background-repeat:no-repeat;
  height:44px;
  width:50px;
  background-position:center;
  border-radius: 0px 20px 20px 2px;
  border-style: none;
}



.user-buttons{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin-right:30px;
  width:150px;
}
.user-buttons button{
  height:40px;
  width:40px;
  border-radius:20px;
  background-color:rgb(17, 17, 17);
  border-style: none;
}
#b1{
  background-image:url('media/camara-icon.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}
#b2{
  background-image:url('media/noti-icon.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}
#b3{
  background-image:url('media/pfp-icon.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}



.body{
 display:flex;
 
}
.video-comments{
  display:flex;
  flex-direction:column;
  width:75%;

}
.video{
 width:100%;
 height:80vh;
 
}
iframe{
  padding:20px;
}
.comments{
  width:100%;
  
 }
.related-videos{
  color: white;
  font-size: 20px;
  width:25%;
  height:100vh;
}



